# REALM venv dependencies
numpy<2
scipy
pandas
scikit-learn
statsmodels
opencv-python<=4.9
matplotlib
seaborn
pygame
shapely
astar
tqdm
torch
torchvision
gymnasium
stable-baselines3
jupyterlab
ipykernel
ipywidgets
# REALM-VPCE dependencies
h5py